<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">

<!-- Begin Page Content -->
<th:block>
    <!-- main fragment -->
    <section class="h-100" style="overflow:auto" layout:fragment="content">
        <div class="row m-0 container-fluid">
            <div class="col-lg-12 p-0 m-0">
            </div>

            <div class="col p-0" id="dg_document">

            </div>
        </div>
        <!-- Custom styles for this template -->
        <script src="/static/view/sub/document/js/documentList.js"></script>
        <!-- JSTree -->
    </section>
</th:block>
</html>