<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Config -->
    <th:block th:replace="/layout/fragments/config :: configFragment"></th:block>

    <body class="d-flex">
    <!-- Navigation fragment -->
    <th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>

        <!-- Main layout -->
        <div class="mainContent container-fluid" style="margin-bottom:65px"><!-- 65px footer height -->
            <!-- main fragment -->
            <div id="page-body" class="h-100" style="padding-top:10px;">
                <th:block th:replace="/layout/fragments/content :: contentFragment"></th:block>
            </div>

            <!-- footer fragment -->
            <th:block th:replace="/layout/fragments/footer :: footerFragment"></th:block>
        </div>
    </body>
</html>