<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sideLayout}">

<!-- Begin Page Content -->
<th:block>
  <section class="h-100" layout:fragment="content">
    <div class="row g-2 container-fluid">
      <div class="col-12">
        <!--<a href="#" class="btn btn-primary" onclick="dg_plantCreateExecute();">Create</a>-->
        <!--<a href="#" class="btn btn-primary" onclick="dg_plantModifyExecute();">Modify</a>-->
        <!--<a href="#" class="btn btn-danger mx-3" onclick="dg_plantDeleteExecute();">Delete</a>-->
      </div>

      <!--
      <div class="col" id="dg_plant">

      </div>
      -->
    </div>

    <!-- Custom styles for this template -->
    <script src="/static/view/sub/plant/js/plantList.js"></script>
  </section>
</th:block>
</html>
