<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">

<!-- Begin Page Content -->
<th:block>
    <form id="plantTabForm"></form>
    <form id="plantPropertyForm"></form>
    <section class="h-100" style="overflow:auto" layout:fragment="content">

        <div class="row container-fluid m-0">
            <div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pt-3 border-bottom">
                <h6 class="h2">List</h6>
                <div class="btn-toolbar">
                    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base"
                            type="button" style="height: 30px" onclick="dg_plantCreateExecute()">
                        <span class="k-button-icon k-icon k-i-plus"></span>
                        <span class="k-button-text">Create</span>
                    </button>

                    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3"
                            type="button" style="height: 30px" onclick="dg_plantReloadExecute()">
                        <span class="k-button-icon k-icon k-i-refresh"></span>
                    </button>
                    <!--<a href="#" class="btn btn-primary" onclick="historyBack();">Back</a>-->
                    <!--<a href="#" class="btn btn-primary" onclick="dg_projectSaveExecute();">Save</a>-->
                    <!--<a href="#" class="btn btn-danger mx-3" id="btn_delete" onclick="dg_projectDeleteExecute();">Delete</a>-->
                </div>
            </div>

            <div class="col-12 mt-2">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a data-load="false" class="nav-link" id="siteTab" form="plantTabForm" data-bs-toggle="tab" data-bs-target="#siteContent" type="button" role="tab" aria-controls="siteContent" aria-selected="false">Site</a>
                    </li>
                    <li class="nav-item active" role="presentation">
                        <a data-load="false" class="nav-link active" id="plantTab" form="plantTabForm" data-bs-toggle="tab" data-bs-target="#plantContent" type="button" role="tab" aria-controls="plantContent" aria-selected="false">Plant</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a data-load="false" class="nav-link" id="unitTab" form="plantTabForm" data-bs-toggle="tab" data-bs-target="#unitContent" type="button" role="tab" aria-controls="unitContent" aria-selected="false">Unit</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a data-load="false" class="nav-link" id="roomTab" form="plantTabForm" data-bs-toggle="tab" data-bs-target="#roomContent" type="button" role="tab" aria-controls="roomContent" aria-selected="false">Room</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade" id="siteContent" form="plantTabForm" role="tabpanel" aria-labelledby="siteTab">

                        <div id="dg_plant_site" form="plantPropertyForm">

                        </div>
                    </div>

                    <div class="tab-pane fade active show" id="plantContent" form="plantTabForm" role="tabpanel" aria-labelledby="plantTab">
                        <div id="dg_plant_plant" form="plantPropertyForm">

                        </div>
                    </div>

                    <div class="tab-pane fade" id="unitContent" form="plantTabForm" role="tabpanel" aria-labelledby="unitTab">
                        <div id="dg_plant_unit" form="plantPropertyForm">

                        </div>
                    </div>

                    <div class="tab-pane fade" id="roomContent" form="plantTabForm" role="tabpanel" aria-labelledby="roomTab">
                        <div id="dg_plant_room" form="plantPropertyForm">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Custom styles for this template -->
        <script src="/static/view/sub/plant/js/plantList.js"></script>
        <!-- JSTree -->

    </section>
</th:block>
</html>
