<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">

<!-- Begin Page Content -->
<div class="row">
  <!-- main fragment -->
  <div class="col" id="page-body" style="margin-top:15px;">
  <section class="h-100" layout:fragment="content">
    <div class="row m-0 container-fluid">


    <div class="col-lg-12 p-0 m-0 row">

      <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base" type="button" onclick="dg_plantCreateExecute()">
          <span class="k-button-icon k-icon k-i-plus"></span>
          <span class="k-button-text">Add Plant</span>
        </button>

        <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button" style="height: 30px" onclick="dg_plantReloadExecute()">
          <span class="k-button-icon k-icon k-i-refresh"></span>
        </button>
        <!--<a href="#" class="btn btn-primary" onclick="dg_plantCreateExecute();">Create</a>
        <a href="#" class="btn btn-primary" onclick="dg_plantModifyExecute();">Modify</a>
        <a href="#" class="btn btn-danger mx-3" onclick="dg_plantDeleteExecute();">Delete</a>-->
        <select class="form-select ms-3" aria-label="Default select example" id="plant_picker">
          <option  value="Site">Site</option>
          <option selected  value="Plant">Plant</option>
          <option  value="Unit">Unit</option>
        </select>

      </div>

      <div class="col" id="dg_plant">

      </div>
    </div>

    <!-- Custom styles for this template -->
    <script src="/static/view/sub/plant/js/plantList.js"></script>
    <!-- JSTree -->

  </section>
  </div>
</div>
</html>
