<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- Begin Page Content -->
<th:block>
    <section class="h-100" style="overflow:auto; min-width: 430px;" layout:fragment="content">
        <div class="row container-fluid m-0">
            <!-- col-lg-4 -->
            <div class="col-lg-12 p-0 m-0 row pe-2">
                <div class="col-12 mt-2 mb-2 p-0">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" id="bt_treeview_search" placeholder="Search..." value="" style="height: 30px" />
                        </div>

                        <div class="col-6 row">
                            <div class="col-6">
                                <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base" type="button" style="height: 30px" id="btn_expand">
                                    <span class="k-button-icon k-icon k-i-arrow-end-up"></span>
                                    <span class="k-button-text">Collapse</span>
                                </button>
                            </div>

                            <div class="col-6">
                                <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base" type="button" style="height: 30px" id="btn_collapse">
                                    <span class="k-button-icon k-icon k- i-arrow-end-down"></span>
                                    <span class="k-button-text">Expand</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 bd-sidebar p-0 h-100">
                    <div id="bt_treeview_div" class="treeview">

                    </div>
                </div>
            </div>

            <!-- col-lg-8 -->
            <div class="col-lg-12 p-0 m-0 row" style="visibility: collapse;">
                <div class="col-12 mt-2 mb-2 p-0">
                    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base" type="button" onclick="dg_strucCreateExecute()">
                        <span class="k-button-icon k-icon k-i-plus"></span>
                        <span class="k-button-text">Add Structure</span>
                    </button>

                    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button" style="height: 30px" onclick="dg_strucReloadExecute()">
                        <span class="k-button-icon k-icon k-i-refresh"></span>
                    </button>
                </div>

                <div class="col-12 p-0" id="dg_structure">

                </div>
            </div>
        </div>

        <!-- Custom styles for this template -->
        <script src="/static/view/sub/structure/js/structureList.js"></script>

        <script src="/static/plugin/vakata-jstree-3.3.15-dist/jstree.min.js"></script>
        <link href="/static/plugin/vakata-jstree-3.3.15-dist/themes/default/style.min.css" rel="stylesheet">

        <!-- Bootstrap Tree -->
        <script src="/static/plugin/bootstrap-treeview/js/bootstrap-treeview.js"></script>
        <link href="/static/plugin/bootstrap-treeview/css/glyphicons.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <script src="/static/layout/js/sidebars.js"></script>
        <link href="/static/layout/css/sidebars.css" rel="stylesheet">
    </section>
</th:block>
</html>
