<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!-- Begin Page Content -->
<th:block>
    <section layout:fragment="content">
		<div class="row g-2 container-fluid">
			<div class="visually-hidden">
				<input type="text" class="form-control" id="txt_editMode" th:value="${editMode}">
				<input type="text" class="form-control" id="txt_id" th:value="${Site1list[0].ID}">
				<input type="text" class="form-control" id="txt_strucid" th:value="${Structurelist[0].ID}">


			</div>
			<div class="col-12">
				<fieldset>
					<legend>속성</legend>



					<div class="row g-3">
						<!-- Name -->
						<div class="col-sm-6">
							<label  class="form-label">Type</label>
							<!-- <input type="text" class="form-control" id="txt_type" th:value="${type}">&ndash;&gt;-->
							<select class="form-select" aria-label="Default select example" id="type_picker" disabled>
								<option selected value="Site">Site</option>
								<option disabled value="Plant">Plant</option>
								<option disabled value="Unit">Unit</option>
							</select>
						</div>

						<!-- Description -->
						<div class="col-sm-6">
							<label  class="form-label">Parent Type</label>
							<!--<input type="text" class="form-control" id="txt_parent" th:value="${parent}">-->
							<select class="form-select" aria-label="Default select example" id="parent_picker" disabled>
								<option disabled value="Site">Site</option>
								<option disabled value="Plant">Plant</option>
								<option selected value="null" >null</option>
							</select>
						</div>

						<!-- Creator -->
						<div class="col-sm-6">
							<label for="txt_name" class="form-label">Name</label>
							<input type="text" class="form-control" id="txt_name" th:value="${name}">
						</div>

						<!-- Room -->
						<div class="col-sm-6">
							<label for="txt_description" class="form-label">Description</label>
							<input type="text" class="form-control" id="txt_description" th:value="${Description}">
						</div>


						<legend>Site Detail</legend>
						<!-- Operator -->
						<div class="col-sm-6">
							<label for="txt_operator" class="form-label">Operator</label>
							<input type="text" class="form-control" id="txt_operator" th:value="${Site1list[0].Operator}">
						</div>
					</div>
				</fieldset>
			</div>


			<div class="col-12 mb-3 d-flex justify-content-center">
				<div>

					<a href="#" class="btn btn-primary" onclick="dataGridSaveExecute();">Save</a>
					<a href="#" class="btn btn-danger mx-3" id="btn_delete" onclick="dataGridDeleteExecute();">Delete</a>
				</div>
			</div>
		</div>
        <!-- Custom styles for this template -->
        <script src="/static/view/sub/structurecreate/js/structurecreateDetail.js"></script>

    </section>
</th:block>
</html>
