<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!-- Begin Page Content -->
<th:block>
	<form id="strucPropertyForm" name="strucPropertyForm"></form>
    <section layout:fragment="content">
		<div class="row g-2 container-fluid">
			<div class="visually-hidden">
				<input type="text" class="form-control" id="txt_editMode" form="strucPropertyForm" th:value="${editMode}">
				<input type="text" class="form-control" id="txt_strucId" form="strucPropertyForm" th:value="${id}">
				<input type="text" class="form-control" id="txt_parentId" form="strucPropertyForm" th:value="${parentID}">
				<input type="text" class="form-control" id="txt_objectId" form="strucPropertyForm" th:value="${objectID}">


			</div>
			<div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pt-3 border-bottom">
				<h6 class="h2">Structure</h6>
				<div class="btn-toolbar">
					<button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button"  style="height: 30px" form="strucPropertyForm" id="btn_project_save">
						<span class="k-button-icon k-icon k-i-save"></span>
						<span class="k-button-text">Save</span>
					</button>

					<button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button"  style="height: 30px" form="strucPropertyForm" id="btn_project_delete">
						<span class="k-button-icon k-icon k-i-delete"></span>
						<span class="k-button-text">Delete</span>
					</button>

					<!--<a href="#" class="btn btn-primary" onclick="historyBack();">Back</a>-->
					<!--<a href="#" class="btn btn-primary" onclick="dg_projectSaveExecute();">Save</a>-->
					<!--<a href="#" class="btn btn-danger mx-3" id="btn_delete" onclick="dg_projectDeleteExecute();">Delete</a>-->
				</div>
			</div>
			<div class="col-12">
				<fieldset>
					<legend>속성</legend>



					<div class="row g-3">
						<!-- Name -->
						<!-- Creator -->
						<div class="col-sm-6">
							<label for="txt_name" class="form-label">Name</label>
							<input type="text" class="form-control" id="txt_name" form="strucPropertyForm" th:value="${name}">
						</div>

						<!-- Room -->
						<div class="col-sm-6">
							<label for="txt_description" class="form-label">Description</label>
							<input type="text" class="form-control" id="txt_description" form="strucPropertyForm" th:value="${description}">
						</div>

						<!-- Type -->
						<div class="col-sm-6">
							<label for="txt_type" class="form-label">Type</label>
							<input type="text" class="form-control" id="txt_type" form="strucPropertyForm" th:value="${type}" disabled>
						</div>

						<!-- Description -->
						<div class="col-sm-6">
							<label  class="form-label">Parent Name</label>
							<!--<input type="text" class="form-control" id="txt_parent" th:value="${parent}">-->
							<select class="form-select" aria-label="Default select example" form="strucPropertyForm" id="parent_picker">

							</select>
						</div>


						<legend>Structure Detail</legend>
						<!-- Operator -->
						<div class="col-sm-6">
							<label  class="form-label">Object Name</label>
							<!--<input type="text" class="form-control" id="txt_parent" th:value="${parent}">-->
							<select class="form-select" aria-label="Default select example" form="strucPropertyForm" id="name_picker">

							</select>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
        <!-- Custom styles for this template -->
        <script src="/static/view/sub/structure/js/structureDetail.js"></script>

    </section>
</th:block>
</html>
