<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">
<!-- Begin Page Content -->
<th:block>
    <section layout:fragment="content">
		<div class="tab_menu">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<a data-load="false" class="nav-link active" id="scenariotab" data-bs-toggle="tab" data-bs-target="#scenariopanel" type="button" role="tab" aria-controls="scenariopanel" aria-selected="false" href="/scenarioList" value="scenario">Scenario</a>
				</li>
				<li class="nav-item" role="presentation" >
					<a data-load="false" class="nav-link" id="sourcetab" data-bs-toggle="tab" data-bs-target="#sourcepanel" type="button" role="tab" aria-controls="sourcepanel" aria-selected="false" href="/sourceList" value="source" >Source</a>
				</li>
				<li class="nav-item" role="presentation">
					<a data-load="false" class="nav-link" id="workpacktab" data-bs-toggle="tab" data-bs-target="#workpackpanel" type="button" role="tab" aria-controls="workpackpanel" aria-selected="false" href="/workpackList" value="workpack" >Workper</a>
				</li>
				<li class="nav-item" role="presentation">
					<a data-load="false" class="nav-link" id="equipmenttab" data-bs-toggle="tab" data-bs-target="#equipmentpanel" type="button" role="tab" aria-controls="equipmentpanel" aria-selected="false" href="/equipmentList" value="equipment">Equipment</a>
				</li>
				<li class="nav-item" role="presentation">
					<a data-load="false" class="nav-link" id="workertab" data-bs-toggle="tab" data-bs-target="#workerpanel" type="button" role="tab" aria-controls="workerpanel" aria-selected="false" href="/workerList" value="worker">Worker</a>
				</li>
				<li class="nav-item" role="presentation">
					<a data-load="false" class="nav-link" id="shieldtab" data-bs-toggle="tab" data-bs-target="#shieldpanel" type="button" role="tab" aria-controls="shieldpanel" aria-selected="false" href="/shieldList" value="shield">Shield</a>
				</li>

			</ul>
		<div class="tab-content" id="myTabContent">
			<!--<div class="row g-2 container-fluid" >
				<div class="col-12"> </div>
				<div class="col-12">
					<a href="#" class="btn btn-primary" onclick="dataGridCreateExecute();">Create</a>
					<a href="#" class="btn btn-primary" onclick="dataGridModifyExecute();">Modify</a>
					<a href="#" class="btn btn-danger mx-3" onclick="dataGridDeleteExecute();">Delete</a>
				</div>

				<div class="col" id="dataGrid">


				</div>
			</div>-->
			<div href="/scenarioList" data-url="/scenarioList" class="tab-pane" id="scenariopanel" role="tabpanel" aria-labelledby="scenariotab" data-load="false">1</div>
			<div href="/projectList" data-url="/projectList" class="tab-pane" id="projectpanel" role="tabpanel" aria-labelledby="projecttab" data-load="false">2</div>
			<div href="/workpackList" data-url="/workpackList" class="tab-pane" id="workpackpanel" role="tabpanel" aria-labelledby="workpacktab" data-load="false">3</div>
			<div href="/equipmentList" data-url="/equipmentList" class="tab-pane" id="equipmentpanel" role="tabpanel" aria-labelledby="equipmenttab" data-load="false">4</div>
			<div href="/workerList" data-url="/workerList" class="tab-pane" id="workerpanel" role="tabpanel" aria-labelledby="workertab" data-load="false">5</div>
			<div href="/shieldList" data-url="/shieldList" class="tab-pane" id="shieldpanel" role="tabpanel" aria-labelledby="shieldtab" data-load="false">6</div>
		</div>
		</div>
        <!-- Custom styles for this template -->
        <script src="/static/view/sub/structure/js/structureDetail.js"></script>

    </section>
</th:block>
</html>
