<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="configFragment">
        <head>
            <title>Title</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
            <title>Bootstrap Template</title>

            <!-- KendoUI -->
            <!-- JQuery Version 맞춰야함.. -->
            <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.default-v2.min.css"/>
		    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.all.min.js"></script>

            <!-- Bootstrap -->
            <link href="/static/plugin/bootstrap-5.3.0-dist/css/bootstrap.min.css" rel="stylesheet">

            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <!-- Top Nav Dropdown Click 과 Side Dropdown Click 충돌 -->
            <!-- <script src="/static/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script> -->
            <script src="/static/plugin/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>

            <!-- JQuery -->
            <!--<script src="/static/jquery-3.7.0/jquery-3.7.0.min.js"></script>-->

            <!-- Common -->
            <script src="/static/layout/js/common.js"></script>

            <!-- GoldenLayout  -->
            <script src="/static/plugin/golden-layout-1.5.9/js/goldenlayout.min.js"></script>
            <link href="/static/plugin/golden-layout-1.5.9/css/goldenlayout-base.css" rel="stylesheet">
            <link href="/static/plugin/golden-layout-1.5.9/css/goldenlayout-light-theme.css" rel="stylesheet">

            <!--Sample Script-->
            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

          </head>
    </th:block>
</html>