<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footerFragment">
        <footer class="footer border-top py-2">
            <div>
                <!--<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                    <img width="60" height="24" src="/static/img/logo/seabury_positive.png" href="https://www.seaburysolutions.co.kr/"/>
                </a>-->
                <p class="text-center text-muted mb-0">COPYRIGHT © 2023 by Seabury Solutions Inc.</p>
                <p class="text-center text-muted mb-0">ALL RIGHTS RESERVED.</p>
            </div>

            <!-- Custom styles for this template -->
            <link rel="stylesheet" href="/static/layout/css/footer.css"/>
        </footer>
    </th:block>
</html>