<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footerFragment">
        <footer class="d-flex justify-content-center border-top py-2 ">
            <div>
                <!--<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    &lt;!&ndash;<svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>&ndash;&gt;
                    &lt;!&ndash;<img width="60" height="24" src="/static/img/logo/seabury_positive.png" href="https://www.seaburysolutions.co.kr/"/>&ndash;&gt;
                </a>-->
                <p class="text-center text-muted mb-0">COPYRIGHT © 2023 by Seabury Solutions Inc.</p>
                <p class="text-center text-muted mb-0">ALL RIGHTS RESERVED.</p>
            </div>
        </footer>
    </th:block>
</html>