<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navbarFragment">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <!--<a class="navbar-brand" href="#">Home</a>-->
            <a href="main">
                <img class="mainlogo" width="132px" src="/static/img/logo/seabury_positive.png" href="main"/>
            </a>
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="height:40px;"></span><!--넓이 줄었을때, 버튼 높이 고정 -->
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbars">
                <ul class="navbar-nav m-auto">
                    <!-- 23.09.18 Visible Collapse
                    <li class="nav-item">
                        <a class="nav-link" id="structure" href="#" onclick="addDockItem('structure', 'structureList', 'structure/structureList')">Structure</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" id="plant" href="#" onclick="addDockItem('plant', '플렌트 목록', 'plant/plantList')">플랜트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="structure" href="#" onclick="addDockItem('structure', '테스트 목록', 'structure/structureDetail')">테스트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="project" href="#" onclick="addDockItem('project', '프로젝트 목록', 'project/projectList')">프로젝트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="scenario" href="#" onclick="addDockItem('scenario', '시나리오 목록', 'scenario/scenarioList')">시나리오</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user" href="#" onclick="addDockItem('user', '유저 목록', 'user/userList')">테스트</a>
                    </li>
                    <!-- Scenario 화면에 Tab Control 통합
                    <li class="nav-item">
                        <a class="nav-link" id="workpack" href="#" onclick="addDockItem('workpack', 'workpack list', 'workpack/workpackList')">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="equipment" href="#" onclick="addDockItem('equipment', 'equipment list', 'equipment/equipmentList')">Equipment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="source" href="#" onclick="addDockItem('source', 'source list', 'source/sourceList')">Sources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="shield" href="#" onclick="addDockItem('shield', 'shield list', 'shield/shieldList')">Shield</a>
                    </li>
                    -->

                    <!-- KYC 230612 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">선원항 DB</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" id="nd_60_103_inh" href="#" onclick="addDockItem('nd_60_103_inh', 'nd_60_103_inh list', 'radiationsource/nd_60_103_inh')">ICRP 72/103 연령별 호흡 DCF</a></li>
                            <li><a class="dropdown-item" id="nd_60_103_ing" href="#" onclick="addDockItem('nd_60_103_ing', 'nd_60_103_ing list', 'radiationsource/nd_60_103_ing')">ICRP 72/103 연령별 섭취 DCF</a></li>
                            <li><a class="dropdown-item" id="nd_103_w" href="#" onclick="addDockItem('nd_103_w', 'nd_103_w list', 'radiationsource/nd_103_w')">ICRP 103 작업자 호흡/섭취 DCF</a></li>
                            <li><a class="dropdown-item" id="nd_60_ext" href="#" onclick="addDockItem('nd_60_ext', 'nd_60_ext list', 'radiationsource/nd_60_ext')">FGR13 외부피복 DCF</a></li>
                            <li><a class="dropdown-item" id="nd_103_ext" href="#" onclick="addDockItem('nd_103_ext', 'nd_103_ext list', 'radiationsource/nd_103_ext')">FGR15 외부피복 DCF</a></li>
                            <li><a class="dropdown-item" id="nuclearData" href="#" onclick="addDockItem('nuclearData', 'nuclearData list', 'radiationsource/nuclearData')">Nuclide Data</a></li>
                            <!--<li><a class="dropdown-item" id="WorkFlow" href="#" onclick="addDockItem('WorkFlow', 'WorkFlow list', 'integrated/WorkFlow')">ZR-100 Robot System 설치</a></li>-->
                        </ul>
                    </li>

                    <!-- KYC 20231215-->
                    <li class="nav-item">
                        <a class="nav-link" id="docMng" href="#" onclick="addDockItem('document', 'Document Management', 'document/documentList')">문서 관리</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link logout" href="logout"><img src="/static/img/logo/SignOut.png" href="main"/>Logout</a>
        </div>
    </nav>

    <!-- Custom styles for this template -->
    <link href="/static/layout/css/navbar.css" rel="stylesheet">
    <script src="/static/layout/js/navbar.js"></script>

</th:block>
</html>