<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sideLayout}">

<!-- Begin Page Content -->

<!-- Begin Page Content -->

<th:block>
  <section layout:fragment="content">
    <div class="row g-2 container-fluid">
      <div class="col-6">
        <fieldset>
          <legend>속성</legend>

          <div class="row g-3">
            <!-- Type -->
            <div class="col-sm-6">
              <label for="txt_type" class="form-label">Type</label>
              <input type="text" class="form-control" id="txt_type" th:value="${type}">
            </div>

            <!-- Parent -->
            <div class="col-sm-6">
              <label for="txt_parent" class="form-label">Parent</label>
              <input type="text" class="form-control" id="txt_parent" th:value="${parent}">
            </div>

            <!-- Name -->
            <div class="col-sm-6">
              <label for="txt_name" class="form-label">Name</label>
              <input type="text" class="form-control" id="txt_name" th:value="${name}">
            </div>

            <!-- Description -->
            <div class="col-sm-6">
              <label for="txt_description" class="form-label">Description</label>
              <input type="text" class="form-control" id="txt_description" th:value="${description}">
            </div>

            <legend>Site Detail</legend>
            <!-- Operator -->
            <div class="col-sm-6">
              <label for="txt_operator" class="form-label">Operator</label>
              <input type="text" class="form-control" id="txt_operator" th:value="${operator}">
            </div>

            <!-- Status -->
            <div class="col-sm-6">
              <label for="txt_status" class="form-label">Status</label>
              <input type="text" class="form-control" id="txt_status" th:value="${status}">
            </div>

            <!-- Reactor type -->
            <div class="col-sm-6">
              <label for="txt_reactortype" class="form-label">Reactor type</label>
              <input type="text" class="form-control" id="txt_reactortype" th:value="${reactortype}">
            </div>

            <!-- Reactor supplier -->
            <div class="col-sm-6">
              <label for="txt_reactorsupplier" class="form-label">Reactor supplier</label>
              <input type="text" class="form-control" id="txt_reactorsupplier" th:value="${reactorsupplier}">
            </div>

            <!-- Construction began -->
            <div class="col-sm-6">
              <label for="dt_constructionbegan" class="form-label">Construction began</label>
              <input type="date" class="form-control" id="dt_constructionbegan" th:value="${constructionbegan}">
            </div>

            <!-- Commission date -->
            <div class="col-sm-6">
              <label for="dt_commissiondate" class="form-label">Commission date</label>
              <input type="date" class="form-control" id="dt_commissiondate" th:value="${commissiondate}">
            </div>

            <!-- Decommission date -->
            <div class="col-sm-6">
              <label for="dt_decommissiondate" class="form-label">Decommission date</label>
              <input type="date" class="form-control" id="dt_decommissiondate" th:value="${decommissiondate}">
            </div>

            <!-- Thermal capacity -->
            <div class="col-sm-6">
              <label for="txt_thermalcapacity" class="form-label">Thermal capacity</label>
              <input type="text" class="form-control" id="txt_thermalcapacity" th:value="${thermalcapacity}">
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-6">
        <fieldset>
          <legend>Image</legend>
          <div class="container-lg">
            <div class="row">
              <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F9956823F5BD48B4215"
                   class="img-fluid" alt="...">
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <!-- Custom styles for this template -->
    <script src="/static/view/sub/site/js/siteDetail.js"></script>
  </section>
</th:block>
</html>