<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">

<!-- Begin Page Content -->

<section class="h-100" layout:fragment="content">

    <div class="row g-2 container-fluid">
        <div class="col-12">
            <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base" type="button" onclick="dg_siteCreateExecute()">
                <span class="k-button-icon k-icon k-i-plus"></span>
                <span class="k-button-text">Add Site</span>
            </button>

            <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button" style="height: 30px" onclick="dg_siteReloadExecute()">
                <span class="k-button-icon k-icon k-i-refresh"></span>
            </button>
            <select class="form-select" aria-label="Default select example" id="site_picker">
                <option  selected value="Site">Site</option>
                <option  value="Plant">Plant</option>
                <option  value="Unit">Unit</option>
            </select>
        </div>

        <div class="col" id="dg_site">

        </div>
    </div>

    <!-- Custom styles for this template -->
    <script src="/static/view/sub/site/js/siteList.js"></script>
    <!-- JSTree -->

</section>


</html>
