<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">

<th:block>
    <form id="sitePropertyForm" name="sitePropertyForm"></form>
  <section class="h-100" style="overflow:auto" layout:fragment="content">
      <div class="row container-fluid m-0">
      <div class="visually-hidden">
        <input type="text" class="form-control" id="txt_editMode" form="sitePropertyForm" th:value="${editMode}">
        <input type="text" class="form-control" id="txt_siteId" form="sitePropertyForm" th:value="${id}">
       <!-- <input type="text" class="form-control" id="txt_strucid" th:value="${Structurelist[0].ID}">-->


      </div>
      <div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pt-3 border-bottom">
        <h6 class="h2">Site</h6>
        <div class="btn-toolbar">
          <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button"  form="sitePropertyForm" style="height: 30px" id="btn_site_save">
            <span class="k-button-icon k-icon k-i-save"></span>
            <span class="k-button-text">Save</span>
          </button>

          <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button" form="sitePropertyForm"  style="height: 30px" id="btn_site_delete">
            <span class="k-button-icon k-icon k-i-delete"></span>
            <span class="k-button-text">Delete</span>
          </button>

          <!--<a href="#" class="btn btn-primary" onclick="historyBack();">Back</a>-->
          <!--<a href="#" class="btn btn-primary" onclick="dg_projectSaveExecute();">Save</a>-->
          <!--<a href="#" class="btn btn-danger mx-3" id="btn_delete" onclick="dg_projectDeleteExecute();">Delete</a>-->
        </div>
      </div>
      <div class="col-lg-6 p-2">
        <fieldset>
            <div class="row g-3">
              <!-- Name -->
              <!--<div class="col-sm-6">
                <label  class="form-label">Type</label>
                &lt;!&ndash; <input type="text" class="form-control" id="txt_type" th:value="${type}">&ndash;&gt;&ndash;&gt;
                <select class="form-select" aria-label="Default select example" form="sitePropertyForm" id="type_picker" disabled>
                  <option selected value="Site">Site</option>
                  <option disabled value="Plant">Plant</option>
                  <option disabled value="Unit">Unit</option>
                </select>
              </div>

              &lt;!&ndash; Description &ndash;&gt;
              <div class="col-sm-6">
                <label  class="form-label">Parent Type</label>
                &lt;!&ndash;<input type="text" class="form-control" id="txt_parent" th:value="${parent}">&ndash;&gt;
                <select class="form-select" aria-label="Default select example" form="sitePropertyForm" id="parent_picker" disabled>
                  <option disabled value="Site">Site</option>
                  <option disabled value="Plant">Plant</option>
                  <option selected value="null" >null</option>
                </select>
              </div>-->


<!--
              &lt;!&ndash; Room &ndash;&gt;
              <div class="col-sm-6">
                <label for="txt_description" class="form-label">Description</label>
                <input type="text" class="form-control" id="txt_description" th:value="${description}" form="sitePropertyForm">
              </div>-->


              <legend>Properties</legend>

              <!-- Creator -->
              <div class="col-sm-6">
                <label for="txt_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="txt_name" th:value="${name}" form="sitePropertyForm">
              </div>
            <!-- Operator -->
            <div class="col-sm-6">
              <label for="txt_operator" class="form-label">Operator</label>
              <input type="text" class="form-control" id="txt_operator" th:value="${operator}" form="sitePropertyForm">
            </div>

            <!-- Status -->
            <div class="col-sm-6">
              <label for="txt_status" class="form-label">Status</label>
              <input type="text" class="form-control" id="txt_status" th:value="${status}" form="sitePropertyForm">
            </div>

            <!-- Reactor type -->
            <div class="col-sm-6">
              <label for="txt_reactortype" class="form-label">Reactor type</label>
              <input type="text" class="form-control" id="txt_reactortype" th:value="${reactorType}" form="sitePropertyForm">
            </div>

            <!-- Reactor supplier -->
            <div class="col-sm-6">
              <label for="txt_reactorsupplier" class="form-label">Reactor supplier</label>
              <input type="text" class="form-control" id="txt_reactorsupplier" th:value="${reactorSupplier}" form="sitePropertyForm">

            </div>


            <!-- Construction began -->
            <div class="col-sm-6">
              <label for="dt_constructionbegan" class="form-label">Construction began</label>
              <input type="date" class="form-control" id="dt_constructionbegan" th:value="${constructionBegan}" form="sitePropertyForm">

            </div>

            <!-- Commission date -->
            <div class="col-sm-6">
              <label for="dt_commissiondate" class="form-label">Commission date</label>
              <input type="date" class="form-control" id="dt_commissiondate" th:value="${commissionDate}" form="sitePropertyForm">
            </div>

            <!-- Decommission date -->
            <div class="col-sm-6">
              <label for="dt_decommissiondate" class="form-label">Decommission date</label>
              <input type="date" class="form-control" id="dt_decommissiondate" th:value="${decommissionDate}" form="sitePropertyForm">
            </div>

            <!-- Thermal capacity -->
            <div class="col-sm-6">
              <label for="txt_thermalcapacity" class="form-label">Thermal capacity</label>
              <input type="text" class="form-control" id="txt_thermalcapacity" th:value="${thermalCapacity}" form="sitePropertyForm">
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-lg-6 p-2">
        <fieldset>
          <legend>Image</legend>
          <div class="container-lg">
            <div class="row">
<!--              <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F9956823F5BD48B4215"
                   class="img-fluid" alt="...">-->
              <img src="/static/img/sample/site_02.jpg" class="img-fluid" style="height: 300px;">
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <!-- Custom styles for this template -->
    <script src="/static/view/sub/site/js/siteDetail.js"></script>
    <script src="/static/plugin/vakata-jstree-3.3.15-dist/jstree.min.js"></script>
    <link href="/static/plugin/vakata-jstree-3.3.15-dist/themes/default/style.min.css" rel="stylesheet">

    <!-- Bootstrap Tree -->
    <script src="/static/plugin/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <link href="/static/plugin/bootstrap-treeview/css/glyphicons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script src="/static/layout/js/sidebars.js"></script>
    <link href="/static/layout/css/sidebars.css" rel="stylesheet">
  </section>
</th:block>
</html>