<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Layout}">

<!-- Begin Page Content -->
<div class="row">
    <!-- main fragment -->
    <div class="col" id="page-body" style="margin-top:15px;">
<section class="h-100" layout:fragment="content">
    <div class="row g-2 container-fluid">
        <div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom">


        <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base" type="button" onclick="dg_unitCreateExecute()">
                <span class="k-button-icon k-icon k-i-plus"></span>
                <span class="k-button-text">Add Unit</span>
            </button>

            <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button" style="height: 30px" onclick="dg_unitReloadExecute()">
                <span class="k-button-icon k-icon k-i-refresh"></span>
            </button>
            <!--<a href="#" class="btn btn-primary" onclick="dg_unitCreateExecute();">Create</a>
            <a href="#" class="btn btn-primary" onclick="dg_unitModifyExecute();">Modify</a>
            <a href="#" class="btn btn-danger mx-3" onclick="dg_unitDeleteExecute();">Delete</a>-->
            <select class="form-select" aria-label="Default select example" id="unit_picker">
                <option  value="Site">Site</option>
                <option  value="Plant">Plant</option>
                <option selected value="Unit">Unit</option>
            </select>
        </div>

        <div class="col" id="dg_unit">

        </div>
    </div>

    <!-- Custom styles for this template -->
    <script src="/static/view/sub/unit/js/unitList.js"></script>
    <!-- JSTree -->

</section>
    </div>
</div>

</html>
