<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- Begin Page Content -->

<!-- Begin Page Content -->

<th:block>
    <section layout:fragment="content">
        <div class="row g-2 container-fluid">
            <div class="col-12">
                <fieldset>
                    <legend>속성</legend>
                    <div class="row g-3">
                        <div class="">

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </section>
</th:block>
</html>