<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block>
    <form id="roomPropertyForm" name="roomPropertyForm"></form>
    <section class="h-100" style="overflow:auto" layout:fragment="content">
        <div class="row container-fluid m-0">
            <div class="visually-hidden">
                <input type="text" class="form-control" id="txt_roomId" form="roomPropertyForm" th:value="${id}">
                <input type="text" class="form-control" id="txt_projectId" form="roomPropertyForm" th:value="${projectID}">
                <input type="text" class="form-control" id="txt_projectname" form="roomPropertyForm" th:value="${projectName}">
            </div>

            <div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pt-3 border-bottom">
                <h6 class="h2">Room Detail</h6>
                <div class="btn-toolbar">
                    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button" form="roomPropertyForm" style="height: 30px" id="btn_room_save">
                        <span class="k-button-icon k-icon k-i-save"></span>
                        <span class="k-button-text">Save</span>
                    </button>

                    <button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button" form="roomPropertyForm" style="height: 30px" id="btn_room_remove">
                        <span class="k-button-icon k-icon k-i-delete"></span>
                        <span class="k-button-text">Project Remove</span>
                    </button>
                    <!--<button class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base ms-3" type="button" form="roomPropertyForm" style="height: 30px" id="btn_room_delete">
                        <span class="k-button-icon k-icon k-i-delete"></span>
                        <span class="k-button-text">Delete</span>
                    </button>-->
                </div>
            </div>
            <div class="col-lg-6 p-2">
                <fieldset>
                    <legend>Properties</legend>

                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="txt_name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="txt_name" form="roomPropertyForm" th:value="${name}">
                        </div>
                        <div class="col-sm-6">
                            <label for="txt_operator" class="form-label">Operator</label>
                            <input type="text" class="form-control" id="txt_operator" form="roomPropertyForm" th:value="${operator}">
                        </div>
                        <div class="col-sm-6">
                            <label for="txt_description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="txt_description" form="roomPropertyForm" th:value="${description}">
                        </div>
                        <div class="col-sm-6">
                            <label  class="form-label">Parent Name</label>
                            <select class="form-select" aria-label="Default select example" form="roomPropertyForm" id="room_parent">
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label  class="form-label">Project Picker</label>
                            <select class="form-select" aria-label="Default select example" form="roomPropertyForm" id="room_project">
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6 p-2">
                <fieldset>
                    <legend>Image</legend>
                    <div class="row g-3">
                        <img src="/static/img/sample/room.jpg" class="img-fluid" style="height: 300px;">

                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Custom styles for this template -->
        <script src="/static/view/sub/room/js/roomDetail.js"></script>

        <!-- Custom styles for this template -->
        <script src="/static/layout/js/sidebars.js"></script>
        <link href="/static/layout/css/sidebars.css" rel="stylesheet">

    </section>
</th:block>
</html>