 <div> 
 	<div id="Source_Dropdown" style="margin-top: 5px;">		
		<label for="sourceList">Radiation Source : </label>
		<select id="id_source" style="width:450px;">
			<option value="nd_60_ing_in">nd_60_ing_in</option>
			<option value="nd_60_ing_1">nd_60_ing_1</option>
			<option value="nd_60_ing_5">nd_60_ing_5</option>
			<option value="nd_60_ing_10">nd_60_ing_10</option>
			<option value="nd_60_ing_15">nd_60_ing_15</option>
			<option value="nd_60_ing_ad">nd_60_ing_ad</option>
			<option value="nd_60_ing_w">nd_60_ing_w</option>
			<option value="nd_103_ing_in">nd_103_ing_in</option>
			<option value="nd_103_ing_1">nd_103_ing_1</option>
			<option value="nd_103_ing_5">nd_103_ing_5</option>
			<option value="nd_103_ing_10">nd_103_ing_10</option>
			<option value="nd_103_ing_15">nd_103_ing_15</option>
			<option value="nd_103_ing_AD">nd_103_ing_AD</option>
		</select>
	</div>	

	<div id="grid_60_103_ing" style="margin-top:15px;"></div>
 </div>
 
 <script type="text/javascript">
 $(document).ready(function () {
		$("#id_source").kendoDropDownList({
			change : onChange
		});
		LoadRadiationSource();
		
	});
	
	 function onChange() {
		 LoadRadiationSource();
  };
	
	function LoadRadiationSource() {
		var formObj = new Object();
		formObj.tbname = $("#id_source").val();		

		$.ajax({
			url : "/radiationsource/getND_60_103_ING_List.do",
			method : "POST",
			type : "json",
			async : true,
			data : JSON.stringify(formObj),
			contentType : "application/json",
			success : function(result) {
				if (result != null) {
					WriteData(result);
				}
			},
			error : function(result) {
				alert("정상 처리에 실패 하였습니다.");
			}
		});
		
		
	}
	
	function WriteData(loadataSource){		
		var gridDataSource = new kendo.data.DataSource({	        
	        data : loadataSource,
	        pageSize: 15,
	        schema: {
	            model: {
	                fields: {
	                	half_life1: { type: "string" },
	                	half_life2: { type: "float" },
	                	half_life2unit: { type: "string" },
	                	half_life3: { type: "float" },
	                	half_life3unit: { type: "string" },
	                	type: { type: "string" }
	                }
	            }
	        }
	    });
		 
		$("#grid_60_103_ing").kendoGrid({
	        dataSource: gridDataSource,
	        sortable: true,
	        selectable: "single",	        
	        pageable: {	        	
	            buttonCount: 5
	        },
	        scrollable: false,
	        persistSelection: true,
	        navigatable: true,        
	        columns: [{	            
	            field: "half_life1",
	            title: "Half Life1",
	            width: 240
	        }, {
	            field: "half_life2",
	            title: "Half Life2"
	        }, {
	            field: "half_life2unit",
	            title: "Unit"
	        }, {
	            field: "half_life3",
	            title: "Half Life3",
	            width: 150
	        }, {
	            field: "half_life3unit",
	            title: "Unit",
	            width: 150
	        }, {
	            field: "type",
	            title: "Type",
	            width: 150
	        }]
	    });
	}
 </script>